@import "./variables.scss";

@mixin radioImage {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 5px; 
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    color: $black;

    .options{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
}

.nature, .entertainment, .food, .relax{
    display: flex;
}

.options__input{
    padding: 5px 0px;
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 1px;

    @media(min-width: $tablet){
        margin: 1rem;
        width: 150px;
        height: 150px;
    }

    @media(min-width: $laptop){
        margin: 2rem;
        width: 200px;
        height: 200px;
    }
    
    @media(min-width: $desktop){
        margin: 2.5rem;
        width: 250px;
        height: 250px;
    }

    input[type="radio"] {
        visibility: hidden;
        height: 100px;
        width: 100px;
        border-radius: 5px; 

        @media(min-width: $tablet){
            width: 150px;
            height: 150px;
        }
        @media(min-width: $laptop){
            width: 200px;
            height: 200px;
        }
        @media(min-width: $desktop){
            width: 250px;
            height: 250px;
        }
    }
    

    input[type=radio] + label {
        display: inline-block;
        padding: 0 0 0 0px;
        text-align: center;
        height: 100px;
        width: 100px;
        line-height: 100px;
        font-size: 1rem;
        font-weight: 700;
        color: $lightblue;
        border-radius: 5px; 
        position: relative;
        top: -105px;

        @media(min-width: $tablet){
            width: 150px;
            height: 150px;
            top: -155px;
            line-height: 150px;
            font-size: 1.75rem;
            font-weight: 700;
        }
        @media(min-width: $laptop){
            width: 200px;
            height: 200px;
            top: -205px;
            line-height: 200px;
            font-size: 2rem;
            font-weight: 700;
        }
        @media(min-width: $desktop){
            width: 250px;
            height: 250px;
            top: -255px;
            line-height: 250px;
            font-size: 2.5rem;
            font-weight: 700;
        }
    }

    &--artGallery{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/art.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--aquarium{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/aquarium.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--bowling{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/bowling.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--cafe{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/cafe.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--movie{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/movie.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--museum{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/museum.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--club{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/club.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--park{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.5)),
        url("../interests/park.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--restaurant{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/restaurant.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--spa{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/spa.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }
    }

    &--stadium{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/stadium.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }

    }

    &--zoo{
        background-image:
        linear-gradient(rgba(13, 19, 33, 0.2),  rgba(13, 19, 33, 0.9)),
        url("../interests/zoo.jpg");
        @include radioImage;
        &:hover{
            background: $pink;
          }

    }

    input[type=radio]:checked + label {
        background: $blue;
        height: 100px;
        width: 100px;
        position: relative;
        top: -105px;
        display: inline-block;
        color: $lightblue;
        border-radius: 5px; 

        @media(min-width: $tablet){
            width: 150px;
            height: 150px;
            top: -155px;
        }
        @media(min-width: $laptop){
            width: 200px;
            height: 200px;
            top: -205px;
        }
        @media(min-width: $desktop){
            width: 250px;
            height: 250px;
            top: -255px;
        }
    } 
}

#radius{
    width: 40%;
    margin: 0 1rem 2rem;
    padding: 1.5rem 1rem;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: $lightblue;
    &:hover{
        background: $lightpink;
    }
}

.submit__button{
    margin: 1rem;
    padding: 1.5rem 1rem;
    outline: none;
    font-size: 1rem;
    border-radius: 5px;
    border: none;
    background: $blue;
    width: 70vw;

    @media(min-width: $tablet){
        width: 60vw;
    }
    @media(min-width: $laptop){
        width: 50vw;
    }
    &:hover{
        background: $magenta;
    }
}

.labelTag{
    color: $dark;
}